@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer properties {
  :root {
    --clr-white: white;
    --clr-black: black;
    --clr-gray-100: hsl(0, 0%, 85%);
    --clr-gray-700: hsl(0, 0%, 26%);
    --clr-gray-900: hsl(0, 0%, 15%);

    --ff-base: "Poppins", sans-serif;
    --ff-accent: "Space Mono", monospace;

    /* Mobile first! */
    --fs-300: 0.875rem;
    --fs-400: 1rem;

    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 4rem;
    }
  }

  :root {
    --text-main: var(--clr-gray-700);
    --text-high-contrast: var(--clr-black);

    --background-main: var(--clr-white);
    --background-dark: var(--clr-gray-100);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.75rem;
  }
}

@layer base {
  html {
    font-family: var(--ff-base);
    line-height: 1.6;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  body {
    font-size: var(--font-size-regular);
    color: var(--text-main);
    background-color: var(--background-main);

    &.light-mode {
      --text-main: var(--clr-gray-100);
      --text-high-contrast: var(--clr-white);

      --background-main: var(--clr-gray-900);
      --background-dark: var(--clr-black);
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--text-high-contrast);
    font-family: var(--ff-accent);
  }

  h1 {
    font-size: var(--font-size-heading-lg);
  }

  [role="list"] * {
    margin-top: 0.4em;
  }
}

@layer layouts {
  .flow > * + * {
    margin-top: var(--flow-gap, 0.5em);
  }

  .flex-group {
    --flex-wrap: none;
    display: flex;
    flex-wrap: var(--flex-wrap);
    gap: 1rem;

    @media (width < 760px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  .equal-columns {
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--equal-columns-align-items, default);

    @media (width > 740px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }

  .section {
    --section-padding: 1rem;
    padding-block: var(--section-padding);

    @media (width > 760px) {
      --section-padding: 1rem;
    }

    border-bottom: 2px solid var(--background-dark);
  }

  .wrapper {
    --wrapper-max-width: 1130px;
    --wrapper-padding: 1rem;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);
    /* Correct padding */
    box-sizing: content-box;
  }

  .wrapper--narrower {
    --wrapper-padding: 4rem;
    @media (width > 760px) {
      --wrapper-padding: 12rem;
      padding-inline-start: 14rem;
    }
  }
}

@layer components {
  .headshot {
    width: 300px;
    clip-path: circle();
  }

  .hook {
    display: grid;
    align-content: center;
    justify-items: start;

    .title {
      text-align: end;
    }

    .quote {
      text-align: justify;
      max-width: 700px;
    }
  }

  .section--intro {
    background-color: var(--background-dark);
  }

  .section__title {
    @media (width > 760px) {
      position: absolute;
      translate: calc(-100% - 1rem) 0;
      max-width: 12rem;
      text-align: end;
    }
  }
}

@layer utilities {
}
